# Example Environment Variables
# Copy this file to .env and fill in your secrets.
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=pass
DB_NAME=petMart_db
DB_DIALECT=mysql
JWT_SECRET=supersecretkey123
